<CTYPE html>
<html lang="en">
 
<head>
  <title>Edit Participant</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../../static/css/editEvent.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body> 
  <header class="header">
    <h1>EDIT PARTICIPANT</h1>
  </header>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Zonderdag</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/showEvents">Events</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          {% if session['logged_in'] == True %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/showEventForm">Create Event</a></li>
              <li><a href="/showRaceFormSelect">Create Race</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showRegisterForEventSelect">Event Registration</a></li>
              <li><a href="/showRegisterForRaceSelect">Race Registration</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showUploadSelect">Upload File</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session['logged_in'] == True %}
            <li class="login" style="float: none;"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="login" style="float: none;"><a href="/showLogin/events">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <p></p><p></p>

  <div class="container-fluid">   
    {% if error %}
      {% if error != "None" %}
      <div class="well" style="background-color: ff4444; color:black; text-align:center;">
        <p class=error><strong>Error:</strong> {{ error }}
      </div>
      {% endif %}
    {% endif %}

    {% if dup_error %}
      <div class="well" style="background-color: ff4444; color:black; text-align:center;">
        <p class=error><strong>Error:</strong> There is already an Event called <b><a href="/showRaces/{{ event }}" style="color:black">{{ event_name }}</a></b> in {{ event_date }} in {{ event_city }}, {{ event_state }}
      </div>
    {% endif %}

    {% if success %}
      <div class="well" style="background-color: 00C851; color:black; text-align:center;">
        <p class=error><strong>Success:</strong> {{ success }}
      </div>
    {% endif %}

    {% if allParticipants %}
    <h2>You are here: <a href="/showEvents">Events</a> >> <a href="/showRaces/{{ participant['event_id'] }}"> {{ participant['event_name'] }}</a> >> <a href="/showAllParticipants/{{ participant['event_id'] }}">All Racers Registered For {{ participant['event_name'] }}</a> >> Edit <u>{{ participant['name'] }}</u></h2>
    {% else %}
    <h2>You are here: <a href="/showEvents">Events</a> >> <a href="/showRaces/{{ participant['event_id'] }}"> {{ participant['event_name'] }}</a> >> <a href="/showParticipants/{{ participant['race_id'] }}">{{ participant['race_name'] }}</a> >> Edit <u>{{ participant['name'] }}</u></h2>
    {% endif %}

    {% if allParticipants %}
    <form action="/editRegistered/{{ participant['id'] }}" method="POST" id="edit">
    {% else %}
    <form action="/editRaceParticipant/{{ participant['race_id'] }}/{{ participant['id'] }}" method="POST" id="edit">
    {% endif %}
      <div style="text-align:center">
        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> First Name: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="text" name="first_name" value="{{ participant['first_name'] }}" size="25"><br>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> Last Name: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="text" name="last_name" value="{{ participant['last_name'] }}" size="25"><br>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> Racing License: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="text" name="license" value="{{ participant['license'] }}" size="25"><br>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> Bib Number: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="text" name="bib" value="{{ participant['bib'] }}" size="25"><br>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> RFID Tag: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="text" name="rfid_tag" value="{{ participant['rfid_tag'] }}" size="25"><br>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> Gender: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <select name="gender">
              <option value="{{ participant['gender'] }}"> {{ participant['gender'] }} </option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> * Birthday: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="date" name="birthday" value="{{ participant['birthday'] }}"<br>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> Phone Number: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="tel" name="phone" value="{{ participant['phone'] }}" size="25"><br>
          </div>
        </div>

        <div class="row">
          <div style="text-align:right" class="col-xs-6 col-md-6">
            <p> Email Address: </p>
          </div>
          <div style="text-align:left" class="col-xs-6 col-md-6">
            <input type="email" name="email" value="{{ participant['email'] }}" size="25"><br>
          </div>
        </div>

        <p></p><p></p>
        <input type="submit" value="Save Changes" class="btn btn-primary">
      </div>
    </form>
  </div>

  <footer class="footer">
      <p>&copy; Cole Crawford</p>
  </footer>
</body>
 
</html>