<CTYPE html>
<html lang="en">
 
<head>
  <title>Events</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/events.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body style="background-color: #f2f2f2"> 
  <header class="header">
    <h1>EVENTS</h1>
  </header>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Zonderdag</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/showEvents">Events</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          {% if session['logged_in'] == True %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/showEventForm">Create Event</a></li>
              <li><a href="/showRaceFormSelect">Create Race</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showRegisterForEventSelect">Event Registration</a></li>
              <li><a href="/showRegisterForRaceSelect">Race Registration</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showUploadSelect">Upload File</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session['logged_in'] == True %}
            <li class="login" style="float: none;"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="login" style="float: none;"><a href="/showLogin/events">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if success %}
    <div class="well" style="background-color: 00C851; color:black">
      <p class=error><strong>Success:</strong> {{ success }}
    </div>
  {% endif %}
  {% if error %}
    <div class="well" style="background-color: ff4444;">
      <p class=error><strong>Error:</strong> {{ error }}
    </div>
  {% endif %}
      
  <div class="container">
    <h3>Events</h3>  

    <h2>You are here: <u><a href="/showEvents">Events</a></u></h2>
    <p></p>
    <p>Search all events here:</p><p></p>

    <div class="row">
      <div style="text-align:center" class="col-xs-12 col-md-12">
        <div class="row">
          <form action="/searchEvents" method="POST">
            <div style="text-align:right" class="col-xs-6 col-md-6">
              <input type="text" name="search_string" id="search_string" class="form-control" placeholder="Search">
            </div>
            <div style="text-align:left" class="col-xs-4 col-md-4">
              <input type="submit" value="Search" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <p></p><p></p> 

    <table>
      <tr>
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="auto">
        <col width="165">
        <th>Event Name</th>
        <th>Date</th>
        <th>City</th>
        <th>State</th>
        <th>Description</th>
        {% if session['logged_in'] == True %}
        <th>Options</th>
        {% endif %}
      </tr>
      {% for anEvent in events %}
      <tr>
        <td><a href="/showRaces/{{ anEvent['id'] }}">{{ anEvent['name'] }}</a></td>
        <td>{{ anEvent['date'] }}</td>
        <td>{{ anEvent['city'] }}</td>
        <td>{{ anEvent['state'] }}</td>
        <td>{{ anEvent['description'] }}</td>
        {% if session['logged_in'] == True %}
        <td>
          <a href="/showEditEvent/{{ anEvent['id'] }}">
            <button style="width:69px; text-align: center; background-color: white; color:black;; border-color: black" class="btn btn-sm">Edit  
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button> 
          </a>
          <a href="/deleteEvent/{{ anEvent['id'] }}">
            <button onclick="return confirm('Are you sure you want to delete {{ anEvent['name'] }}?');" style="width:69px; text-align: center; background-color: black; color:white; border-color: black" class="btn btn-sm">Delete  
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button> 
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>

    <footer class="footer" style="background-color: #f2f2f2">
      <p>&copy; Cole Crawford</p>
    </footer>
  </div>
</body>
 
</html>