<CTYPE html>
<html lang="en">
 
<head>
  <title>Participants</title>

  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
  <link href="../static/css/participants.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body> 
  <header class="header">
    <h1>PARTICIPANTS</h1>
  </header>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Zonderdag</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/showEvents">Events</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          {% if session['logged_in'] == True %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/showEventForm">Create Event</a></li>
              <li><a href="/showRaceFormSelect">Create Race</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showRegisterForEventSelect">Event Registration</a></li>
              <li><a href="/showRegisterForRaceSelect">Race Registration</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showUploadSelect">Upload File</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session['logged_in'] == True %}
            <li class="login" style="float: none;"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="login" style="float: none;"><a href="/showLogin/events">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if success %}
    {% if success != "None" %}
    <div class="well" style="background-color: 00C851; color:black">
      <p class=error><strong>Success:</strong> {{ success }}
    </div>
    {% endif %}
  {% endif %}
  {% if error %}
    {% if error!="None" %}
    <div class="well" style="background-color: ff4444;">
      <p class=error><strong>Error:</strong> {{ error }}
    </div>
    {% endif %}
  {% endif %}
      
  <div class="container">
    {% if race_name %}
    <h3>{{ race_name }}</h3> 
    {% else %}
    <h3>{{ event_name }}</h3>
    {% endif %}

    <h2>You are here: <a href="/showEvents">Events</a> >> <a href="/showRaces/{{ event }}"> {{ event_name }}</a> >> 
    {% if race_name %}<u>{{ race_name }}</u>{% else %}<u>All Racers Registered For {{ event_name }}</u>{% endif %}</h2>
    <p></p>
    {% if race_name %}
    <div class="well well-sm" style="background-color: white; text-align: left;">
        <li style="list-style-type: none;">
          <p style="font-size:100%; color:black">
            <a href="/showRaces/{{ event_id }}"><b>{{ race_name }}</b></a><br></p>
            <p style="font-size:100%; color:black"># Racers Registered for this race: {{ num_participants }}</p>
            <p style="font-size:100%; color:black">{{ event_date }}<br> {{ event_city }}, {{ event_state }}</p>
            <p style="font-size:90%; color:gray; word-wrap: break-word;">{{ race_description }}<br></p>
        </li>
    </div> 
    <p></p>
    {% endif %}
    <!--
    {% if num_participants > 0 %}
      {% if allParticipants %}
      <p>Search for people in {{ event_name }}:</p>
      {% else %}
      <p>Search for people in {{ race_name }}:</p>
      {% endif %}
    <p></p><p></p> 

    <div class="row">
      <div style="text-align:center" class="col-xs-12 col-md-12">
        <div class="row">
          <form action="/searchEvents" method="POST">
            <div style="text-align:right" class="col-xs-6 col-md-6">
              <input type="text" name="search_string" id="search_string" class="form-control" placeholder="Search">
            </div>
            <div style="text-align:left" class="col-xs-4 col-md-4">
              <input type="submit" value="Search" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <p></p><p></p> 
    {% endif %}-->

    <p></p><p></p> 

    {% if noResults %}
      <p>No Races for this event yet!</p>
    {% else %}
      <table>
        <tr>
          <col width="auto">
          <col width="auto">
          <col width="auto">
          <col width="auto">
          <col width="auto">
          {% if race_name %}
          <col width="auto">
          <col width="auto">
          <col width="auto">
          {% endif %}
          <col width="165">
          <th>Name</th>
          <th>Bib</th>
          <th>RFID Tag</th>
          <th>Gender</th>
          <th>Racing Age</th>
          {% if race_name %}
          <th>Race</th>
          <th>Total Time</th>
          <th>Place</th>
          {% endif %}
          {% if session['logged_in'] == True %}
          <th>Options</th>
          {% endif %}
        </tr>
        {% for aparticipant in participants %}
        <tr>
          {% if allParticipants %}
          <td><a href="/showAllIndividual/{{ aparticipant['id'] }}/{{ event }}">{{ aparticipant['first_name'] }} {{ aparticipant['last_name'] }}</a></td>
          {% else %}
          <td><a href="/showIndividual/{{ aparticipant['id'] }}/{{ aparticipant['race_id'] }}">{{ aparticipant['first_name'] }} {{ aparticipant['last_name'] }}</a></td>
          {% endif %}
          <td>{{ aparticipant['bib'] }}</td>
          <td>{{ aparticipant['rfid_tag'] }}</td>
          <td>{{ aparticipant['gender'] }}</td>
          <td>{{ aparticipant['age'] }}</td>
          {% if race_name %}
          <td>{{ aparticipant['race'] }}</td>
          <td>{{ aparticipant['total_time'] }}</td>
          <td>{{ aparticipant['place'] }}</td>
          {% endif %}
          {% if session['logged_in'] == True %}
          <td>
            {% if allParticipants %}
            <a href="/showEditRegistered/{{ aparticipant['id'] }}">
              <button style="width:69px; text-align: center; background-color: white; color:black;; border-color: black" class="btn btn-sm">Edit  
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button> 
            </a>
            <a href="/deleteRegistered/{{ aparticipant['id'] }}">
              <button onclick="return confirm('Are you sure you want to delete {{ aparticipant['name'] }}?');" style="width:69px; text-align: center; background-color: black; color:white; border-color: black" class="btn btn-sm">Delete  
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button> 
            </a>
            {% else %}
            <a href="/showEditRaceParticipant/{{ aparticipant['race_id'] }}/{{ aparticipant['id'] }}">
              <button style="width:69px; text-align: center; background-color: white; color:black;; border-color: black" class="btn btn-sm">Edit  
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button> 
            </a>
            <a href="/deleteRaceParticipant/{{ aparticipant['race_id'] }}/{{ aparticipant['id'] }}">
              <button onclick="return confirm('Are you sure you want to delete {{ aparticipant['name'] }}?');" style="width:69px; text-align: center; background-color: black; color:white; border-color: black" class="btn btn-sm">Delete  
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button> 
            </a>
            {% endif %}
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    {% endif %}

    <p></p><p></p>
    <a href="/showRaces/{{ event }}"><button style="background-color: white; color:black; border-color: black;" class="btn btn-primary">Back to {{ event_name }}</button></a>

    <footer class="footer">
      <p>&copy; Cole Crawford</p>
    </footer>
  </div>
</body>
 
</html>