<CTYPE html>
<html lang="en">
 
<head>
  <title>Races</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/races.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
 
<body> 
  <header class="header">
    <h1>RACES</h1>
  </header>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Zonderdag</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="active"><a href="/showEvents">Events</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          {% if session['logged_in'] == True %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/showEventForm">Create Event</a></li>
              <li><a href="/showRaceFormSelect">Create Race</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showRegisterForEventSelect">Event Registration</a></li>
              <li><a href="/showRegisterForRaceSelect">Race Registration</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showUploadSelect">Upload File</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session['logged_in'] == True %}
            <li class="login" style="float: none;"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="login" style="float: none;"><a href="/showLogin/events">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% if success %}
    {% if success != "None" %}
    <div class="well" style="background-color: 00C851; color:black">
      <p class=error><strong>Success:</strong> {{ success }}
    </div>
    {% endif %}
  {% endif %}
  {% if error %}
    {% if error!="None" %}
    <div class="well" style="background-color: ff4444;">
      <p class=error><strong>Error:</strong> {{ error }}
    </div>
    {% endif %}
  {% endif %}
      
  <div class="container">
    <h3>{{ eventname }}</h3>  
    <h2>You are here: <a href="/showEvents">Events</a> >> <u>{{ eventname }}</u></h2>
    <p></p>
    <div class="well well-sm" style="background-color: white; text-align: left;">
        <li style="list-style-type: none;">
          <p style="font-size:100%; color:black">
            <a href="/showRaces/{{ event_id }}"><b>{{ eventname }}</b></a><br></p>
            <p style="font-size:100%; color:black"># Racers Registered for this event: {% if registered_racers > 0 %}<a href="/showAllParticipants/{{ event_id }}">{% endif %}{{ registered_racers }}</a></p>
            <p style="font-size:100%; color:black">{{ event_date }}<br> {{ event_city }}, {{ event_state }}</p>
            <p style="font-size:90%; color:gray; word-wrap: break-word;">{{ event_description }}<br></p>
        </li>
    </div>
    {% if noResults %}
    {% else %}
    <p>Search for races in {{ eventname }}:</p>
    <p></p><p></p> 

    <div class="row">
      <div style="text-align:center" class="col-xs-12 col-md-12">
        <div class="row">
          <form action="/searchRaces/{{ event_id }}" method="POST">
            <div style="text-align:right" class="col-xs-6 col-md-6">
              <input type="text" name="search_string" id="search_string" class="form-control" placeholder="Search">
            </div>
            <div style="text-align:left" class="col-xs-4 col-md-4">
              <input type="submit" value="Search" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
    <p></p><p></p> 
    {% endif %}

    {% if noResults %}
      <p>No Races for this event yet!</p>
    {% else %}
      <table>
        <tr>
          <col width="auto">
          <col width="auto">
          <col width="auto">
          <col width="auto">
          <col width="auto">
          <col width="165">
          <th>ID</th>
          <th>Race Name</th>
          <th>Date</th>
          <th>Race Type</th>
          <th>Description</th>
          {% if session['logged_in'] == True %}
          <th>Options</th>
          {% endif %}
        </tr>
        {% for arace in races %}
        <tr>
          <td>{{ arace['id'] }}</td>
          <td><a href="/showParticipants/{{ arace['id'] }}">{{ arace['name'] }}</a></td>
          <td>{{ arace['date'] }}</td>
          <td>{{ arace['type'] }}</td>
          <td>{{ arace['description'] }}</td>
          {% if session['logged_in'] == True %}
          <td>
            <a href="/showEditRace/{{ arace['id'] }}">
              <button style="width:69px; text-align: center; background-color: white; color:black;; border-color: black" class="btn btn-sm">Edit  
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button> 
            </a>
            <a href="/deleteRace/{{ arace['id'] }}">
              <button onclick="return confirm('Are you sure you want to delete {{ arace['name'] }}?');" style="width:69px; text-align: center; background-color: black; color:white; border-color: black" class="btn btn-sm">Delete  
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button> 
            </a>
          </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    {% endif %}

    <p></p><p></p>
    <div class="row">
      {% if races %}
      <div class="col-xs-6 col-md-6">
        <a href="/showEvents"><button style="background-color: white; color:black; border-color: black;" class="btn btn-primary">Back to Events</button></a>
      </div>
        {% if participants=="true" %}
          <div class="col-xs-6 col-md-6" style="text-align:right">
            <a href="/showAllParticipants/{{ event_id }}"><button style="background-color: white; color:black; border-color: black" class="btn btn-primary">All Registered Racers</button></a>
          </div>
        {% endif %}
      {% else %}
        {% if participants=="true" %}
        <div>
          <a href="/showAllParticipants/{{ event_id }}"><button style="background-color: white; color:black; border-color: black" class="btn btn-primary">All Registered Racers</button></a>
        </div>
        {% endif %}
      <p></p>
      <div>
        <a href="/showEvents"><button style="background-color: white; color:black; border-color: black;" class="btn btn-primary">Back to Events</button></a>
      </div>
      {% endif %}
    </div>

    <footer class="footer">
      <p>&copy; Cole Crawford</p>
    </footer>
  </div>
</body>
 
</html>