<CTYPE html>
<html lang="en">
 
<head>
  <title>Timing</title>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/timing.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery-1.11.2.js"></script>
    <script src="../static/js/timing.js"></script>
</head>
 
<body> 
  <header class="header">
    <h1>TIMING</h1>
  </header>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="/">Zonderdag</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/showEvents">Events</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          {% if session['logged_in'] == True %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Administration<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/showEventForm">Create Event</a></li>
              <li><a href="/showRaceFormSelect">Create Race</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showRegisterForEventSelect">Event Registration</a></li>
              <li><a href="/showRegisterForRaceSelect">Race Registration</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/showUploadSelect">Upload File</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if session['logged_in'] == True %}
            <li class="login" style="float: none;"><a href="/logout">Logout <span class="sr-only">(current)</span></a></li>
            {% else %}
            <li class="login" style="float: none;"><a href="/showLogin/main">Login <span class="sr-only">(current)</span></a></li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <p></p><p></p>

  <div class="container-fluid">   
    {% if error %}
      <div class="well" style="background-color: ff4444; color:black; text-align:center;">
        <p class=error><strong>Error:</strong> {{ error }}
      </div>
    {% endif %}

    {% if success %}
      <div class="well" style="background-color: 00C851; color:black; text-align:center;">
        <p class=error><strong>Success:</strong> {{ success }}
      </div>
    {% endif %}

    
    <div class="col-xs-12" style="text-align: left">
      <h2>You are here: <a href="/showTimingSelect">Event Select</a> >> Timing for {{ event_name }}</a></h2>
    </div>

    <br><br><br><br>
    <div class="row">
      {% for race in races %}
        <div class="col-xs-12 col-sm-12 col-md-12">
          <div class="well well-sm" style="background-color: white; text-align: center;">
            <li style="list-style-type: none;">
              <div class="row">
                <div class="col-xs-12 col-md-12" style="text-align: left;">
                  <p style="font-size:100%; color:black"><span class="glyphicon glyphicon-flag"></span> | {{ race['name'] }}</a>{% if race['start_time'] %} | {{ race['start_date'] }} {% endif %}</p>
                </div>
              </div>
              <hr>
              {% if race['start_time'] %} 
              <p style="text-align: left;">Start Time: {{ race['start_time'] }} on {{ race['start_date'] }}</p> 
              {% else %}
              <p style="text-align: left;">No start time for this race</p>
              {% endif %}
              {% if race['end_time'] %} 
              <p style="text-align: left;">End Time: {{ race['end_time'] }} on {{ race['end_date'] }}</p>
              {% else %}
              <p style="text-align: left;">No end time for this race</p> 
              {% endif %}
              {% if race['total_time'] %} 
              <p style="text-align: left;">Total Time: {{ race['total_time'] }}</p>
              {% endif %}
              <hr>
              <div class="row">
                <div class="col-xs-12" style="text-align: left">
                  <button id="start" class="btn btn-primary-start" onclick="start('{{ race['id'] }}')">Start</button>
                  <button id="stop" class="btn btn-primary-stop" onclick="stop('{{ race['id'] }}')">Stop</button>
                </div>
              </div>
              <p></p>
            </li>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  
  <footer class="footer">
      <p>&copy; Cole Crawford</p>
  </footer>
</body>
 
</html>